@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'fonts.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', serif;
}

:root {
  --gradient-opacity: 1;
  --primary-color: rgba(235, 106, 13, var(--gradient-opacity));
  --secondary-color: rgba(190, 64, 8, var(--gradient-opacity));
  --accent-color: rgba(200, 100, 12, var(--gradient-opacity));
  // --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  // --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  // --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
}
